.DS_Store
.idea
.metadata
.settings
.tools
.vs
_ReSharper*
_reports
_UpgradeReport_Files/
artifacts/
Backup*/
[bB]in
BuildOutput
coverage
coverage.*
node_modules
obj
out
packages
project.lock.json
testResults.xml
TestResults
tools/
typings
UpgradeLog*.htm
UpgradeLog*.XML
PublishProfiles
*.binlog
*.coverage
*.db
*.db-shm
*.db-wal
*.diagsession
*.DotSettings
*.log
*.nupkg
*.opensdf
*.psess
*.[Pp]ublish.xml
*.publishproj
*.pubxml
*.sdf
*.sln.cache
*.sln.docstates
*.sln.ide
*.suo
*.TMP
*.user
*.vsp
*.vspx
